@keyframes aparecerSombraTexto {
    0% {
      text-shadow:0px 0px 0px rgb(0, 0, 0);
    }
    100% {
        text-shadow: 3px 3px 1px #6F2DA8;
    }
  }
  @keyframes aparecerSombraTexto2 {
    0% {
      text-shadow:0px 0px 0px rgb(0, 0, 0);
    }
    100% {
        text-shadow: 6px 6px 0px #6F2DA8;
    }
  }
  @keyframes aparecerTexto {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }
  @keyframes aparecerSombraCaja {
    0% {
      box-shadow:2px 2px 7px rgb(0, 0, 0);
    }
    100% {
        box-shadow: 10px 10px 15px rgb(0, 0, 0);
    }
  }

  

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{

    font-family: 'Open Sans', sans-serif;

}
#pantallaInicial{
    position: absolute;
    top: 0px;
    z-index: 1;
    width: -webkit-fill-available;
    height: 1200px;
    background: url("../IMG/prueba.png") repeat 0 0;
    background-position:center ;
}
#nombre{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    text-align: center;

}
#nombre h1, #nombre h2{
    margin: 4px auto;
}

#nombre h1{
    font-family: 'Smooch', cursive;
    font-size: 100px;
    color: rgb(0, 255, 234);
    animation: 1s ease-out 1s 1 aparecerSombraTexto2, 3s ease-out 0s 1 aparecerTexto;
    animation-fill-mode: forwards; 
    font-weight: 900;
}
#nombre h2{
    font-size: 30px;
    color: rgb(0, 255, 234);
    animation: 1s ease-out 1s 1 aparecerSombraTexto, 3s ease-out 0s 1 aparecerTexto;
    animation-fill-mode: forwards; 
}

#nombre a{
    background-color: #6f2da825 ;
    opacity: 0;
    width: 120px;
    height: 50px;
    border: 3px solid rgb(97, 123, 170);
    text-decoration: none;
    display: block;
    margin: auto;
    line-height: 45px;
    color: rgb(0, 204, 187);
    border-radius: 40px;
    animation: 2s ease-out 3s 1 aparecerTexto,1s ease-out 3s 1 aparecerSombraCaja;
    animation-fill-mode: forwards; 
    font-weight: 600;
    transition: 0.3s;
}

#nombre a:hover{
    border: 3px solid rgb(72, 92, 129);
    background-color: #6f2da810 ;
    transition: 0.3s;
}

#nombre a:active{
    box-shadow:0px 0px 7px rgb(0, 0, 0);
    transition: 0.5s;
}
#marcador1{
    position: absolute;
    top: 1200px;
}

#aboutMeLimit{
    height: 2560px;
}

#aboutMe{
    position: sticky;
    top: 0px;
    height: 1300px;
    width: -webkit-fill-available;
    z-index: 0;
    background: rgb(19,14,45);
background: linear-gradient(180deg, rgba(19,14,45,1) 5%, rgba(20,20,100,1) 100%);
}
#whiteBackgroundLimit{
    height: 600px;
}
#whiteBackground{
    position: sticky;
    top:200px;
    height: fit-content;
    right: 0px;
    background-color:rgb(238, 236, 235) ;
    width: fit-content;
    margin-left: 10%;
    border-top-left-radius:30px ;
    border-bottom-left-radius:30px ;
    padding-bottom: 10px;
    box-shadow: 10px 10px 15px rgb(0, 0, 0);
    display:block;
    word-break: break-word;
    padding-right: 30px;
}

#whiteBackground h2{
    font-family: 'Smooch', cursive;
    font-size: 70px;
}

#whiteBackground p{
    font-size: 30px;
}

#whiteBackground h2,p{
    margin-left: 400px;
}

#whiteBackground img{
    position: absolute;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin: 40px;
    box-shadow: 6px 6px 0px rgb(49, 49, 49);
}

#studyButton a{
    width: 180px;
    height: 60px;
    background-color: rgb(20, 20, 100) ;
    border: 3px solid rgb(13, 13, 65);
    text-decoration: none;
    display: block;
    margin: 50px auto;
    line-height: 60px;
    color: rgb(134, 187, 216);
    border-radius: 60px;
    text-align: center;
    box-shadow: 4px 4px 8px rgb(13, 13, 65);
    font-weight: 800;
}

#study{
    height: 2000px;
    width: -webkit-fill-available;
    background: rgb(20,20,100);
    background: linear-gradient(180deg, rgba(20,20,100,1) 0%, rgba(0,129,255,1) 48%, rgba(0,181,255,1) 78%, rgba(0,232,255,1) 100%);
    padding-top: 10%;
}

#studyBox{
    
    margin: auto;
    width: 60%;
    background-color:rgb(238, 236, 235) ;
    padding: 60px;
    border-radius: 30px;
    box-shadow: 6px 6px 10px rgb(0, 0, 0);
}
#studyBox h2, #studyBox p{
    margin: 0px;
}
#studyBox h2{
    font-family: 'Smooch', cursive;
    font-size: 70px;
}
#studyBox p{
    font-size: 20px;

}


/* 
$midnight-blue: rgba(20, 11, 92, 1);
$russian-violet: rgba(15, 8, 68, 1);
$rhythm: rgba(108, 111, 127, 1);
$gainsboro: rgba(219, 217, 219, 1);
$platinum: rgba(229, 235, 234, 1);
$cool-grey: rgba(140, 136, 172, 1);
$midnight-blue: rgba(20, 20, 100, 1);
$isabelline: rgba(238, 236, 235, 1);
$midnight-blue-2: rgba(19, 10, 88, 1);
$lavender-gray: rgba(185, 181, 200, 1);

$dark-turquoise: rgba(44, 226, 230, 1);
$magenta-dye: rgba(204, 4, 117, 1);
$dark-violet: rgba(148, 0, 202, 1);
$flickr-blue: rgba(2, 94, 235, 1);
$dark-turquoise-2: rgba(46, 215, 230, 1);
*/
