@keyframes aparecerSombraTexto {
    0% {
      text-shadow:0px 0px 7px rgb(0, 0, 0);
    }
    100% {
        text-shadow: 10px 10px 7px rgb(0, 0, 0);
    }
  }
  @keyframes aparecerTexto {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }
  @keyframes aparecerSombraCaja {
    0% {
      box-shadow:2px 2px 7px rgb(0, 0, 0);
    }
    100% {
        box-shadow: 10px 10px 15px rgb(0, 0, 0);
    }
  }

  

*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}
body{
    height: 4000px;
    

}
#pantallaInicial{
    position: absolute;
    top: 0px;
    z-index: 1;
    width: 1903px;
    height: 1200px;
    background: url("../IMG/prueba.png") repeat 0 0;
    background-position: center;
}
#nombre{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    text-align: center;

}
#nombre h1, #nombre h2{
    margin: 10px auto;
}

#nombre h1{
    font-family: 'Smooch', cursive;
    font-size: 80px;
    color: rgb(134, 187, 216);
    animation: 1s ease-out 1s 1 aparecerSombraTexto, 3s ease-out 0s 1 aparecerTexto;
    animation-fill-mode: forwards; 
    
}
#nombre h2{
    font-size: 30px;
    color: rgb(134, 187, 216);
    animation: 1s ease-out 1s 1 aparecerSombraTexto, 3s ease-out 0s 1 aparecerTexto;
    animation-fill-mode: forwards; 
}

#nombre a{
    opacity: 0;
    width: 100px;
    height: 40px;
    border: 3px solid rgb(97, 123, 170);
    text-decoration: none;
    display: block;
    margin: auto;
    line-height: 40px;
    color: rgb(134, 187, 216);
    border-radius: 4px;
    animation: 1s ease-out 3s 1 aparecerSombraTexto, 2s ease-out 3s 1 aparecerTexto,1s ease-out 3s 1 aparecerSombraCaja;
    animation-fill-mode: forwards; 
}

#marcador1{
    position: absolute;
    top: 1200px;
}

#aboutMeLimit{
    height: 2280px;
}

#aboutMe{
    position: sticky;
    top: 0px;
    left: 0px;
    height: 1080px;
    z-index: 0;
    background-color: rgb(20, 20, 100);
}
#whiteBackgroundLimit{
    height: 600px;
}
#whiteBackground{
    position: sticky;
    top:200px;
    margin-left: 200px;
    background-color:rgb(238, 236, 235) ;
    width: 1703px;
    height: 200px;
    border-top-left-radius:30px ;
    border-bottom-left-radius:30px ;
    padding-top: 50px;
    padding-bottom: 200px;
    box-shadow: 10px 10px 15px rgb(0, 0, 0);
    display:block;
}

#whiteBackground h2{
    font-family: 'Smooch', cursive;
    font-size: 70px;
}

#whiteBackground p{
    font-size: 30px;
}

#whiteBackground h2,p{
    margin-left: 400px;
}

#whiteBackground img{
    position: absolute;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin: 40px;
    box-shadow: 6px 6px 0px rgb(49, 49, 49);
}
/* 
$midnight-blue: rgba(20, 11, 92, 1);
$russian-violet: rgba(15, 8, 68, 1);
$rhythm: rgba(108, 111, 127, 1);
$gainsboro: rgba(219, 217, 219, 1);
$platinum: rgba(229, 235, 234, 1);
$cool-grey: rgba(140, 136, 172, 1);
$midnight-blue: rgba(20, 20, 100, 1);
$isabelline: rgba(238, 236, 235, 1);
$midnight-blue-2: rgba(19, 10, 88, 1);
$lavender-gray: rgba(185, 181, 200, 1);
*/
